body {
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    color: #02f923;
}

.nav {
    background: #2e2e30;
    display: flex;
    position: fixed;
    height: 40px;
    width: 100%;
}

.menu {
    flex: 1;
}

.menu h1 {
    margin: 0;
    padding-left: 10px;
    font-size: 30px;
    line-height: 40px;
}

.nav-but {
    font-size: 30px;
    padding-right: 10px;
    text-decoration: none;
    color: #02f923;
    line-height: 40px;
}

.home-container {
    height: 100vh;
    background: url("../pics/pexels-photo-791763.jpeg");
    background-size: cover;
}

.home-container .intro {
    width: 30%;
    height: 200px;
    margin: auto;
    text-align: center;
    border: 2px solid #02f923;
    position: relative;
    top: 200px;
    background: rgba(46, 46, 48, 0.8);
}

.intro h2 {
    padding-top: 25px;
}

.blog-container {
    height: 100vh;
    background: #2e2e30;
}

.blog-title {
    position: relative;
    top: 50px;
    width: 30%;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}

.blog-title h2 {
    margin: 0;
    line-height: 65px;
}

.blog-title a {
    margin: 0;
    text-decoration: none;
    color: #02f923;
}

.blog-grid {
    width: 800px;
    height: 550px;
    margin: 0 auto;
    position: relative;
    top: 75px;
}

.blog-row {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-item {
    width: 30%;
    height: 80%;
    border: 1px solid #02f923;
    margin: auto 0;
    background: rgba(255, 255, 255, 0.2);
}

.calc-container {
    height: 100vh;
    background: #2e2e30;
}

.inputs {
    height: 40vh;
}

.results {
    display: flex;
    height: 60vh;

}

.bmr {
    height: 100%;
    width: 50%;
}

.bf {
    height: 100%;
    width: 50%;
}

.calc-title {
    margin: 0;
    position: relative;
    top: 50px;
    text-align: center;
}

.data-container {
    width: 35%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    position: relative;
    top: 75px;
}

.inputs-val {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.inputs-val input {
    height: 20px;
}

.inputs-name {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.inputs-name p {
    margin: 0;
    font-size: 20px;
}

.unit {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.unit p {
    margin: 5px;
    line-height: 20px;
    font-size: 20px;
}

.bmr h2 {
    text-align: center;
}

.bf h2 {
    text-align: center;
}

.bf p,
.bmr p {
    text-align: center;
    font-size: 60px;
    padding-top: 75px;
}